<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet" >
    <title> Tigre - Artigos Esportivos </title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="imagens/logo-semfundo.jpg">
        </div>

        <input type="checkbox" id="nav_check" hidden>
        <nav>

            <div class="logo">
                <img src="imagens/logo-semfundo.jpg">
            </div>

            <ul>
                <li> <a href="jaquetas"> Jaquetas e Moletons </a> </li>
                <li> <a href="tenis"> Tênis </a> </li>
                <li> <a href="#"> Esportes </a> </li>
                <li> <a href="products"> Todos os Produtos </a> </li>
                <li>
                    <div class="search-bar">
                    <input type="text" placeholder="Pesquisar">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </li>
                <% if (!user) {%>
                    <li>
                        <div class="icons">
                            <a href="cart"> <i class="fa-solid fa-cart-shopping"></i> </a>
                            <a href="login"> <i class="fa-regular fa-user"></i> </a>
                        </div>
                    </li>
                <% } %>
                <% if (user) {%>
                    <li>
                        <div class="icons">
                            <a href="cart"> <i class="fa-solid fa-cart-shopping"></i> </a>
                            <div class="logout">
                                <p>Olá, <%= user.nome %>!</p>
                                <form action="logout" method="POST">
                                    <button type="submit"><i class="fa-solid fa-right-from-bracket"></i></button>
                                </form>
                            </div>
                        </div>
                    </li>
                <% } %>
            </ul>


        </nav>
        <label for="nav_check" class="hamburguer">
            <div></div>
            <div></div>
            <div></div>
        </label>
</header>

<div class="wrapper">
    <table>
        <thead>
            <tr>
                <th>Pedido</th>
                <th> Cliente </th>
                <th>Nome do Produto</th>
                <th>Total</th>
                <th> Endereço </th>
            </tr>
        </thead>
        <tbody>
            <% let lastOrderId = null; %>
            <% for (const order of orders) { %>
                <% for (const compra of order.compras) { %>
                    <tr>
                        <% if (lastOrderId !== order._id) { %>
                            <td>Pedido <%= order._id %></td>
                            <% lastOrderId = order._id; %>
                        <% } else { %>
                            <td></td> <!-- Deixe a célula vazia para pedidos repetidos -->
                        <% } %>
                        <td> <%= order.user.nome %> </td>
                        <td><%= compra.product.name %></td>
                        <td>R$ <%= compra.product.price.toFixed(2) %></td>
                        <td> <%= order.endereco %> </td>
                    </tr>
                <% } %>
            <% } %>
        </tbody>
    </table>
</div>
    
    
    
    <script src="https://kit.fontawesome.com/be07557a2e.js" defer crossorigin="anonymous"></script>
</body>
</html>