<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/be07557a2e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styleCart.css">
    <link rel="stylesheet" href="css/style.css">
    <title> Carrinho </title>
</head>
<body>
    <!-- inicio cabeçalho  -->
    <header>
        <div class="logo">
            <a href="/"><img src="imagens/logo-semfundo.jpg"></a>
        </div>

        <input type="checkbox" id="nav_check" hidden>
        <nav>

            <div class="logo">
                <a href="/"><img src="imagens/logo-semfundo.jpg"></a>
            </div>

            <ul>
                <li> <a href="jaquetas"> Jaquetas e Moletons </a> </li>
                <li> <a href="tenis"> Tênis </a> </li>
                <li> <a href="esportes"> Esportes </a> </li>
                <li> <a href="products"> Todos os Produtos </a> </li>
                <li>
                    <div class="search-bar">
                        <div class="search-container">
                            <form action="/search" method="GET">
                                <input type="text" placeholder="Faça sua pesquisa" class="barra-pesquisa" name="q">
                                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </form>
                            <div class="hints"></div>
                        </div>
                    </div>
                </li>
                <% if (!user) {%>
                    <li>
                        <div class="icons">
                            <a href="cart"> <i class="fa-solid fa-cart-shopping"></i> </a>
                            <a href="login"> <i class="fa-regular fa-user"></i> </a>
                        </div>
                    </li>
                <% } %>
                <% if (user) {%>
                    <li>
                        <div class="icons">
                            <a href="cart"> <i class="fa-solid fa-cart-shopping"></i> </a>
                            <div class="logout">
                                <p>Olá, <%= user.nome %>!</p>
                                <form action="logout" method="POST">
                                    <button type="submit"><i class="fa-solid fa-right-from-bracket"></i></button>
                                </form>
                            </div>
                        </div>
                    </li>
                <% } %>
            </ul>


        </nav>
        <label for="nav_check" class="hamburguer">
            <div></div>
            <div></div>
            <div></div>
        </label>
</header>

<!-- fim cabeçalho  -->

<!-- carregar os itens do carrinho do usuario por meio de um for  -->
<% let total = 0; %> 
<div class="column-product">
    <% if (user.cart.compras.length === 0) { %>
        <div class="cart-empty">
            <p> O carrinho está vazio!</p>
            <i class="fa-regular fa-rectangle-xmark"></i>
        </div>
    </div>
    <% } else {%>
        <% for (const compra of user.cart.compras) { %>
            <div class="container-product">
                <div class="infos-product">                   
                    <div class="img-product">
                        <img src="./imagens/<%=compra.product.image%>">
                    </div>
                    <div class="text-product">
                        <div class="title-product">
                            <h1> <%=compra.product.name%></h1>
                        </div>
                        <div class="price-product">
                            <p class="price"> R$ <%= (compra.product.price).toFixed(2) %></p>
                            <% total += compra.product.price * compra.quantity; %>
                            <div class="forma-pagamento">
                                <p> em até 6x sem juros de R$ <%= (compra.product.price / 6).toFixed(2) %></p>
                                <p class="text-blue"> formas de pagamento </p>
                            </div>
                            <form method="POST" action="/cart/update-quantity/<%= compra._id %>">
                                <div class="qtde">
                                    <p> Quantidade: 
                                        <input type="number" name="quantity" value="<%= compra.quantity %>" min="1">
                                        <button type="submit">Atualizar</button>
                                    </p>
                                </div>
                            </form>
                        </div>
                        <div class="remove-product">
                            <form method="POST" action="cart/remove">
                                <input type="hidden" value="<%=compra._id%>" name="productId">
                                <button type="submit"><i class="fa-solid fa-trash-can"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
        
        
        <div class="container-teste">
            <div class="container-frete">
                <p> Calcule seu frete </p>
                <div class="box-frete">
                    <input type="text" class="cep" placeholder="CEP">
                    <a href="#"> Não sei meu CEP </a>
                </div>
            </div>
            <div class="container-total">
                <p class="total"> Total: R$ <%= total.toFixed(2) %> </p>
            </div>
        </div>
    <form method="POST" action="endereco">
        <% for (const compra of user.cart.compras) { %>
            <input type="hidden" name="qtde_produto" value="<%= compra.quantity %>">
            <%= console.log(compra.quantity) %>
        <% } %>
        <div class="btn-cart">
                <button type="submit"> Concluir Compra </button>
        </div>
    </form>
    <% } %>
</div>
<!-- rodape  -->
    <footer>
        <div class="logo-footer">
            <h1> Trigue </h1>
            <p> © 2023 Amber Forte </p>
        </div>
        <div class="endereco-footer">
            <p> Venha nos visitar! </p>
            <p> Rua Joao Joaquim de Melo, 678, Vila Mimosa </p>
            <p class="cel"> (19) 94561-3023</p>
        </div>
        <div class="social-footer">
            <p> Nos siga! </p>
            <div class="instagram-footer">
                <i class="fa-brands fa-instagram"></i> <p> @trigue</p>      
            </div>
        </div>
    </footer>
        <script src="https://kit.fontawesome.com/be07557a2e.js" defer crossorigin="anonymous"></script>
    </body>
    
</html>