<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet" >
    <title> Tigre - Artigos Esportivos </title>
</head>
<body>
    <!-- inicio cabeçalho  -->
    <header>
            <div class="logo">
                <a href="/"><img src="imagens/logo-semfundo.jpg"></a>
            </div>

            <input type="checkbox" id="nav_check" hidden>
            <nav>

                <div class="logo">
                    <a href="/"><img src="imagens/logo-semfundo.jpg"></a>
                </div>

                <ul>
                    <li> <a href="jaquetas"> Jaquetas e Moletons </a> </li>
                    <li> <a href="tenis"> Tênis </a> </li>
                    <li> <a href="esportes"> Esportes </a> </li>
                    <li> <a href="products"> Todos os Produtos </a> </li>
                    <li>
                        <div class="search-bar">
                            <div class="search-container">
                                <form action="/search" method="GET">
                                    <input type="text" placeholder="Faça sua pesquisa" class="barra-pesquisa" name="q">
                                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                                </form>
                                <div class="hints"></div>
                            </div>
                        </div>
                    </li>
                    <% if (!user) {%>
                        <li>
                            <div class="icons">
                                <a href="cart"> <i class="fa-solid fa-cart-shopping"></i> </a>
                                <a href="login"> <i class="fa-regular fa-user"></i> </a>
                            </div>
                        </li>
                    <% } %>
                    <% if (user) {%>
                        <li>
                            <div class="icons">
                                <a href="cart"> <i class="fa-solid fa-cart-shopping"></i> </a>
                                <div class="logout">
                                    <p>Olá, <%= user.nome %>!</p>
                                    <form action="logout" method="POST">
                                        <button type="submit"><i class="fa-solid fa-right-from-bracket"></i></button>
                                    </form>
                                </div>
                            </div>
                        </li>
                    <% } %>
                </ul>


            </nav>
            <label for="nav_check" class="hamburguer">
                <div></div>
                <div></div>
                <div></div>
            </label>
    </header>
    <!-- fim cabeçalho  -->


    <!-- banner de propaganda 1  -->
    <div class="advertising-1">
        
    </div>

    <!-- baner para mostrar as marcas disponíveis no site  -->
    <div class="brands">
        <div class="title-brands">
            <p> Escolha a marca </p>
        </div>
        <div class="logos-brands">
            <div class="img-brand">
                <a href="#"><img src="imagens/logo-nike.svg"></a>
            </div>
            <div class="img-brand">
                <a href="#"><img src="imagens/logo-adidas.png"></a>
            </div>
            <div class="img-brand">
                <a href="#"><img src="imagens/logo-puma.png"></a>
            </div>
            <div class="img-brand">
                <a href="#"><img src="imagens/logo-umbro.png"></a>
            </div>
            <div class="img-brand">
                <a href="#"><img src="imagens/logo-mizuno.svg"></a>
            </div>
        </div>
    </div>

    <!-- banner de propaganda 2  -->
    <div class="advertising-2">

    </div>

    <!-- baner para mostrar os times disponíveis no site  -->
    <div class="brands">
        <div class="title-brands">
            <p> Torça como nunca! </p>
        </div>
        <div class="logos-brands">
            <div class="logo-time">
                <a href="#"><img src="imagens/corinthians.png"></a>
            </div>
            <div class="logo-time">
                <a href="#"><img src="imagens/flamengo.png"></a>
            </div>
            <div class="logo-time">
                <a href="#"><img src="imagens/palmeiras.png"></a>
            </div>
            <div class="logo-time">
                <a href="#"><img src="imagens/santos.png"></a>
            </div>
            <div class="logo-time">
                <a href="#"><img src="imagens/internacional.png"></a>
            </div>
        </div>
    </div>

    <div class="title-destaques">
        <h1> Destaques </h1>
    </div>

    <!-- mostrar todos os produtos com a categoria "destaque" por meio de um for e um if para filtrar -->
    <div class="wrapper">
        <% for (const product of products) { %>
            <% if (product.categoria == 'destaque') { %>
            <div class="item">
                <a href="/product/<%= product.id %>">
                        <div class="item-img">
                            <img src="./imagens/<%=product.image%> ">
                        </div>
                        <p> <%= product.name %> </p>

                        <div class="valor">
                            <p> R$ <%= (product.price).toFixed(2)  %></p>
                        </div>        
                    <form method="POST" action="cart/add" class="comprar">
                        <input type="hidden" name="quantity" value="1">
                        <input type="hidden" value="<%=product.id%>" name="product">
                        <div class="card-buy">
                            <% if(user) { %>
                            <button type="submit" class="button-buy"> Comprar </button>
                            <% } %>
                            <% if(!user) { %>
                                <button type="button" class="button-buy-lock" style="background-color: gray; opacity: 0.8; cursor: default;"> Comprar <i class="fa-solid fa-lock"></i> </button>
                            <% } %>
                        </div>
                    </form>
                </a>
            </div>
            <% } %>
        <% } %>
    </div>

<script src="../js/script.js" defer></script>
<script src="https://kit.fontawesome.com/be07557a2e.js" defer crossorigin="anonymous"></script>
</body>
</html>
