<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/be07557a2e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/styleProduct.css">
    <title> Produto </title>
</head>
<body>
    <!-- inicio cabeçalho -->
    <header>
        <div class="logo">
            <a href="/"><img src="/imagens/logo-semfundo.jpg"></a>
        </div>

        <input type="checkbox" id="nav_check" hidden>
        <nav>

            <div class="logo">
                <a href="/"><img src="/imagens/logo-semfundo.jpg"></a>
            </div>

            <ul>
                <li> <a href="/jaquetas"> Jaquetas e Moletons </a> </li>
                <li> <a href="/tenis"> Tênis </a> </li>
                <li> <a href="#"> Esportes </a> </li>
                <li> <a href="/products"> Todos os Produtos </a> </li>
                <li>
                    <div class="search-bar">
                    <input type="text" placeholder="Pesquisar">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </li>
                <% if (!user) {%>
                    <li>
                        <div class="icons">
                            <a href="/cart"> <i class="fa-solid fa-cart-shopping"></i> </a>
                            <a href="/login"> <i class="fa-regular fa-user"></i> </a>
                        </div>
                    </li>
                <% } %>
                <% if (user) {%>
                    <li>
                        <div class="icons">
                            <a href="cart"> <i class="fa-solid fa-cart-shopping"></i> </a>
                            <div class="logout">
                                <p>Olá, <%= user.nome %>!</p>
                                <form action="/logout" method="POST">
                                    <button type="submit"><i class="fa-solid fa-right-from-bracket"></i></button>
                                </form>
                            </div>
                        </div>
                    </li>
                <% } %>
            </ul>


        </nav>
        <label for="nav_check" class="hamburguer">
            <div></div>
            <div></div>
            <div></div>
        </label>
</header>
<!-- fim cabeçalho  -->

<!-- informações do produto individual  -->
    <div class="produto">
        <div class="imagem-produto">
            <img src="../imagens/<%=product.image%> ">
        </div>
    
        <div class="texto-produto">
            <div class="titulo-produto">
                <h1> <%= product.name %> </h1>
            </div>
    
            <div class="marca">
                <p> <%= product.brand %> </p>
            </div>
    
            <div class="pagamento">
                <div class="valor-produto">
                    <h1> R$ <%= (product.price).toFixed(2) %> </h1>
                </div>

                        <div class="forma-pagamento">
                            <div>
                                <p> Em até 6x sem juros de R$ 66,68</p>
                            </div>

                            <div>
                                <p class ="text-pagamento"> Formas de pagamento </p>
                            </div>
                        </div>
                        
                    </div>
            
                    <div class="container-frete">
                        <p>Calcule seu frete</p>
                        <div class="box-frete">
                            <form id="cep-form">
                                <input type="text" class="cep" name="cep" placeholder="CEP" id="cep-input">
                                <button type="button" id="calcular-frete">Calcular Frete</button>
                            </form>
                            <div id="resultado-frete">

                            </div>
                        </div>
                    </div>
                    


        <!-- botao para adicionar ao carrinho  -->
            <form method="POST" action="/cart/add" class="comprar">
                <input type="hidden" value="<%=product.id%>" name="product">

                <div class="qtde">
                    <p> Quantidade: </p>
                    <input type="number" step="1" name="quantity">
                </div>
                <div class="button-cart">
                    <% if(user) { %>
                    <button type="submit" class="button-buy"> Comprar </button>
                    <% } %>
                    <% if(!user) { %>
                        <button type="button" class="button-buy-lock" style="background-color: gray; opacity: 0.8; cursor: default;"> Comprar <i class="fa-solid fa-lock"></i> </button>
                    <% } %>
                </div>
            </form>
        </div>  
    </div>

    <!-- mostrar todos os produtos com a categoria "destaque" por meio de um for e um if para filtrar -->

    <div class="title-wrapper">
        <h1> Outros produtos: </h1>
    </div>
    <div class="wrapper" style="justify-content: space-evenly; margin-top: 30px;">
        <% for (const product of products) { %>
            <% if (product.categoria == 'destaque') { %>
            <div class="item">
                <a href="/product/<%= product.id %>">
                        <div class="item-img">
                            <img src="/imagens/<%=product.image%> ">
                        </div>
                        <p> <%= product.name %> </p>

                        <div class="valor">
                            <p> R$ <%= (product.price).toFixed(2)  %></p>
                        </div>        
                    <form method="POST" action="/cart/add" class="comprar">
                        <input type="hidden" value="<%=product.id%>" name="product">
                        <div class="card-buy">
                            <% if(user) { %>
                            <button type="submit" class="button-buy"> Comprar </button>
                            <% } %>
                            <% if(!user) { %>
                                <button type="button" class="button-buy-lock" style="background-color: gray; opacity: 0.8; cursor: default;"> Comprar <i class="fa-solid fa-lock"></i> </button>
                            <% } %>
                        </div>
                    </form>
                </a>
            </div>
            <% } %>
        <% } %>
    </div>

    <!-- rodape  -->
    <footer>
        <div class="logo-footer">
            <h1> Trigue </h1>
            <p> © 2023 Amber Forte </p>
        </div>
        <div class="endereco-footer">
            <p> Venha nos visitar! </p>
            <p> Rua Joao Joaquim de Melo, 678, Vila Mimosa </p>
            <p class="cel"> (19) 94561-3023</p>
        </div>
        <div class="social-footer">
            <p> Nos siga! </p>
            <div class="instagram-footer">
                <i class="fa-brands fa-instagram"></i> <p> @trigue</p>      
            </div>
        </div>
    </footer>
</body>
</html>